body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #ffffff;
  color: #7b0000;
}

nav a {
  margin: 0 10px;
  color: #490000;
  text-decoration: none;
}

nav a.active {
  color: #230000;
  font-weight: bold;
}

/* -----------------QUIZ *-----------------*/

.quiz-container{
  color: rgb(255, 255, 255);
  border: 2px solid white;
  border-radius: 40px;
  border-color: white ;
  width: 100%;
}

/* question counter */
.active-question-no {   
  font-size: 32px;
  color: purple;
}

.total-question {
  font-size: 36px;
  color: orange;
}

/*question display in quiz*/
.Question {            
  font-size: 20px;
  color: pink; 
}

ul {
  margin-top: 20px;
  margin-left: -40px;


  li {
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    background: rgb(202, 180, 180);
    border: 1px solid ; 
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
    
  }

  .selected-answer {
    border: 1px solid;
    color: pink;

  }

}

